@import '../../node_modules/vuetify/src/stylus/settings/_colors'
$theme := {
  primary: $green.base
  accent: $green.darken-2
  secondary: $green.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.darken-3
}
@import '../../node_modules/vuetify/src/stylus/main'

