appdirs==1.4.3
Django==1.11.21
djangorestframework==3.6.4
packaging==16.8
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
djangorestframework-csv==2.0.0
h5py==2.9.0
celery==4.3.0
coreapi==2.3.0
pytest-django==3.1.2
pytest == 4.6.3
elasticsearch-dsl>=5.0.0,<6.0.0
-e git://github.com/timeu/gff3-py.git#egg=gff3
-e git://github.com/timeu/djangorestframework-camel-case#egg=djangorestframework-camel-case
